 <header id="header">
     <a class="toggle" (click) = "toggle()"><i class="material-icons">
        menu
        </i>
        
        </a>
        <a class="logo pull-left"   >
            <img width="145" height="40" 
            style="margin-left: 40px;margin-top: 5px" src="/assets/img/xenius-logo.png" alt=""></a>
            <div class="media-body" style ="    padding-top: 7px;
            padding-bottom: 7px;
            padding-right: 23px;">
                    <div class="media" id="top-menu">
                        <div id="time" class="pull-right">
                                   
                                <button mat-raised-button color="accent">Industrial</button>

                                <button mat-raised-button color="accent">IPDS</button>
                                <button mat-raised-button color="accent">No Tripping</button>

                                <button mat-raised-button color="accent">All</button>

                            <span id="hours">16</span>
                            :
                            <span id="min">43</span>
                            :
                            <span id="sec">22</span>
                        </div>
                         <div class="media-body">
                          <!--   <marquee behavior="alternate" scrollamount="2"><h4>Data Fields are under updation</h4></marquee>-->
                        </div>
                    </div>
                </div>
 </header>