.grid-container {
  margin: 0px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.scaled {
  transform: scale(2, 2); /* Equal to scaleX(2) scaleY(0.5) */
  background-color: pink;
}
.divDash1{
  height: 100% !important;
  z-index: 99999;
  top:0 !important;

}
ul { 
  list-style: none;
  display: block;
  float: right;
  width: 43%;
  margin-top: 14px;
  margin-right: 0;
  font-size: 13px;
  
  li{ display: inline-block; 
    a{ color:black;
    margin-right: 14px;
    }}
 
  
}
.mat-card-title{
  .mat-form-field{
    width:50%;
  }
  i{
    color:white;
  }
}
.divDash2{
  height: 98% !important;
  z-index: 99999;
  top:0 !important;
}
.divDash3{
  height: 100% !important;
  z-index: 99999;
  top:0 !important;
}
.divDash4{
  height: 100% !important;
  z-index: 99999;
  top:0 !important;
}
.fliptable{
  // transform: rotateX(180deg);

}
.tablemainToremove{
  display: none;
  height:0px;
}
.tableToShow{
  display: none;
  height: 0px;
}
.tableShow{
  height: 100%;


   -webkit-transition:height, 0.5s linear;
 -moz-transition: height, 0.5s linear;
 -ms-transition: height, 0.5s linear;
 -o-transition: height, 0.5s linear;
 transition: height, 0.5s linear;
}
table{
  overflow-y: auto;
  .secondHeader{
    border-bottom: 2px solid #000;
    color: #035484;
  }
  width: 100%;
  border: 1px solid #e4e0e0;
a{
cursor: pointer;
}

  th{
    padding:8px;
    border: 1px solid #e4e0e0;
  }
  td{
    border: 1px solid #e4e0e0;
    padding:5px;
  }
}
// -webkit-transition:height, 0.5s linear;
// -moz-transition: height, 0.5s linear;
// -ms-transition: height, 0.5s linear;
// -o-transition: height, 0.5s linear;
// transition: height, 0.5s linear;