.me{
    button{
        padding: 0;
    padding-left: 10p;
    width: 100%;
    min-width: 0px !important;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    
    /* padding-right: 11px; */
    /* padding-right: 0px; */
    i{
        float: left;
        margin-left: 16px;
        font-size: 28px;
        color: #035484;
        margin-right: 5px;
    
    }
    img{
        margin-top: 5px;
        float: left;
        margin-left: 16px;
        font-size: 28px;
        color: #035484;
        margin-right: 5px;   
    }
    span{
        font-size: 14px;
        float: left;
        margin-left: 14px;
    }    
}
    
}
button{
    width:100%;
}
 
 